/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPO */



/* COMMON */

.button{
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
}

.img{
    width: 100%;
}

/* HEADER */

.nav-bar{
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .hamburger{
    padding: 20px;
}
.fa-bars{
    color: white;
}

.menu-list{
    display: none;
}


/* MAIN */

.row{
    display: flex;
    flex-wrap: wrap;
}

.general div{
    background-color: #b5ddff;
}

.fa-apple{
    color: white;
    margin-right: 5px;
}

.big-col, .col{
    margin: 20px;
    border-radius: 30px;
    padding: 35px;
    text-align: center;
}

.app-store{
    background-color: #0084fd;
    color: white;
    padding: 7px 50px;
    margin-top: 30px;
}

.col-title{
    margin-top: 10px;
    margin-bottom: 30px;
    color: #0084fd;
}

.general div span .fa-solid{
    color: #0084fd;
    font-size: 100px;
}


/* FOOTER */





/* RESPONSIVE */