/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPO */



/* COMMON */

.button{
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
}

.img{
    width: 100%;
    display: block;
}

/* HEADER */

.nav-bar{
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .hamburger{
    padding: 20px;
}
.fa-bars{
    color: white;
}

.menu-list{
    display: none;
}

.menu-list ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: auto 25px;
    color: white;
}


/* MAIN */

.row{
    display: flex;
    flex-wrap: wrap;
}

.general div{
    background-color: #b5ddff;
}

.fa-apple{
    color: white;
    margin-right: 5px;
}

.big-col{
    padding-bottom: 0px;
    padding: 35px 35px 0px 35px;
}

.big-col, .col{
    margin: 20px;
    border-radius: 30px;
    text-align: center;
}

.col{
    padding: 35px;
}
.app-store{
    background-color: #0084fd;
    color: white;
    padding: 7px 50px;
    margin: 30px auto;
}

.col-title{
    margin-top: 10px;
    margin-bottom: 30px;
    color: #0084fd;
}

.general div span .fa-solid{
    color: #0084fd;
    font-size: 100px;
}


/* FOOTER */





/* RESPONSIVE */


/* MOBILE */
@media screen and (max-width: 767px){
    
}


/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px){
    
}


/* DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px){
    .hamburger{
        display: none;
    }
    .menu-list{
        display: flex;
    }
}